/* Fonts end */

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

img{
    width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1280px;
    max-height: 100%;
    margin: 0 auto;
}

/* Header styles start */
/* 
.header{

} */

.header_logo{
    display: flex;
    flex-wrap: wrap;
}

.header_logo_pic{
    width: 161px;
    height: 40px;
    
}
.header_wrapper{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    padding: 16px 0px;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
  
.header_item{
    margin: 0 16px;
}

.header_item_phone_icon{
    width: 16px;
    margin-right: 8px;
}

.header_item_lens_icon{
    width: 16px;
    margin-right: 4px;
}

.header_link{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: rgba(40, 40, 40, 1);
    text-decoration: none;
}

.header_item_form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_item_form_seach{
    max-width: 100%;
    height: 17px;
    border: none;
    width: 129px;
    padding: 0;
    color: rgba(159, 159, 159, 1);
}


.header_item_phone_link{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0.05em;
    text-align: left;
    text-decoration: none;
}

.header_item_button{
    margin-right: 0px;
}

.header_item_form_ask{
    background: linear-gradient(135deg, #353A5F 0%, #9EBAF3 100%);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: rgba(255, 255, 255, 1);
    width: Hug (148px)px;
    height: Hug (43px)px;
    padding: 12px 24px 14px 24px;
    border: none;
    border-radius: 6px;
}

.header_item_form_ask:hover,
.header_item_form_ask:active,
.header_item_form_ask:focus{
    background: linear-gradient(135deg, #654ca4 0%, #9EBAF3 100%);
}

/* Header styles end*/

/* Intro styles start */
.intro_image_container{
    position: relative;
    margin-bottom: 32px;
}
  
.intro_title{
    position: absolute;
    top:114px;
    left: 64px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(40, 40, 40, 1);
}

.intro_pic1{
    height: auto;
    width: 100%;
}


.intro_pic2{  
    width: auto;
    position: absolute;
    bottom: 0;
    max-height: 87.75%;
    right: 52px;
}

.intro_title{
    position: absolute;
    top: 90px;
    left: 64px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(40, 40, 40, 1);
    max-width: 500px;
}

.intro_subtitle_link{
    position: absolute;
    top: 40px;
    left: 64px;
    background: linear-gradient(94.71deg, rgba(169, 111, 68, 0.65) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 5px 6px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.intro_subtitle_link:hover,
.intro_subtitle_link:active,
.intro_subtitle_link:focus{
    background: linear-gradient(94.71deg, rgb(130 60 9 / 65%) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
}

.filters_button_wrapper{
    position: absolute;
    bottom: 40px;
    left: 64px;
    max-width: 92.3%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 1);
    background-size: 100% 100%;
    background-position: center center;
    height: 45px;
    border-radius: 0 6px 6px 0;
}

.filters_button_container{
    width: 172px;
    align-items: center;
    margin-right: 2px;
    position: relative;
    padding-right: 26px;
}

.filters_button_container:not(:nth-child(6)){
    border-right: 2px solid rgba(242, 242, 242, 1);
    height: 100%;
}

.filters_button_container:after {
    content: "";
    position: absolute;
    top: 60%;
    right: 10px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-image: url('..\\img\\svg\\arrow-down-icon.svg');
    background-repeat: no-repeat;
  }

.filter_button_info{
    border: none;
    background: transparent;
    margin: auto 12px;
    color: rgba(159, 159, 159, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    width: 100%;
    height: 100%;
    text-align: left;
}

.filters_button_search_container{
    display: inline-block;
    background: linear-gradient(94.71deg, rgba(169, 111, 68, 0.65) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 45px;
    border-radius: 0 6px 6px 0;
}

.filters_button_search_container_ask{
    border: none;
    background: transparent;
    margin: auto 12px;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;  
    width: 100%;
    height: 100%;
    text-align: left;
}

.filters_button_search_container:hover,
.filters_button_search_container:active,
.filters_button_search_container:focus{
    background: linear-gradient(94.71deg, rgb(130 60 9 / 65%) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
    cursor: pointer;
}

.filter_button_info:hover,
.filter_button_info:active,
.filter_button_info:focus{
    opacity: 0.75;
}

/* Scroll figures styles start */
.intro_image_container2{
    height: 289px;
    width: 100%;
    margin-bottom: 113px;
    position: relative;
}

.intro_image_scroll_contaiter{
    position: absolute;
    height: 289px;
    width: 794px;
}

.intro_image_scroll_contaiter2{
    position: absolute;
    height: 289px;
    width: 400px;
    right: 0;
}

.intro_image_scroll_contaiter_bg{
    position: absolute;
    height: 100%;
    width: 100%;
    position: relative;
}

/* icon styles start */
.scroll-icon.right{
    position: absolute;
    top: 117px;
    right: 16px;
    width: 40px;
    height: 40px;
}

.scroll-icon.left{
    position: absolute;
    top: 117px;
    left: 16px;
    width: 40px;
    height: 40px;
}

.intro_image_scroll_contaiter_bg .scroll-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.intro_image_scroll_contaiter_bg .scroll-icon:hover,
.intro_image_scroll_contaiter_bg .scroll-icon:active,
.intro_image_scroll_contaiter_bg .scroll-icon:focus {
    transform: scale(1.25);
}

.intro_image_scroll_contaiter_bg .scroll-icon.left {
    left: 16px;
    background-image: url('..\\img\\svg\\scroll-left-icon1.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 4;
}

.intro_image_scroll_contaiter_bg .scroll-icon.right {
    right: 16px;
    background-image: url('..\\img\\svg\\scroll-right-icon1.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 4;
}
/* icon styles end*/

.intro_bg{  
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.intro_pic3{
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 2;
}

.scroll_fig_info1{
    position: absolute;
    right: 96px;
    top: 50px;
}

.scroll_fig_subtitle1{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.scroll_fig_title1{
    z-index: 10;
    color: rgba(40, 40, 40, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    width: 250px;
    margin-bottom: 12px;
}

.scroll_fig_list1{
    font-size: 10px;
    font-weight: 400;
    line-height: 16.8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 12px;
}

.scroll_fig_list_item_loc{
    text-decoration: none;
    background: url("..\\img\\svg\\loc-icon.svg") no-repeat left;
    cursor: pointer;
    z-index: 4;
}

.scroll_fig_list_link{
    color:  rgba(111, 128, 177, 1);
    text-decoration: none;
    margin-left:18px;
    margin-right:12px;
}

.scroll_fig_list_link:hover,
.scroll_fig_list_link:active,
.scroll_fig_list_link:focus{
    color: rgb(70, 81, 112);
}

.scroll_fig_list3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin-top: 78px;
}

.scroll_fig_list_item1{
    font-size: 16px;
    font-weight: 700;
    line-height: 28.8px;
    color: rgba(40, 40, 40, 1);

}

.scroll_list4{
    position: absolute;
    top: 28px;
    left: 28px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.1em;
    display: flex;
    flex-wrap: wrap;
    color:rgba(180, 142, 105, 1);
    z-index: 4;
}
.scroll_list_item{
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.scroll_list_item:first-child{
    margin-right: 8px;
}

.scroll_list_item1,
.scroll_list_item2{
    margin: 8px;
}

.scroll_icon_list{
    position: absolute;
    bottom: 102px;
    right: 96px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    z-index: 4;
}

.scroll_list_icon_item {
    position: relative;
}

.scroll_list_icon_item_info{
    display: inline-block;
    padding-left: 38px;
    font-size: 10px;
    font-weight: 400;
}

.scroll_list_icon_item:not(:last-child){
    margin-right: 24px;
}

.icon-1::before {
    background-image: url("..\\img\\svg\\sheme_flat-icon.svg"); 
}

.icon-2::before {
    background-image: url("..\\img\\svg\\sheme_bad-icon.svg"); 
}

.icon-3::before {
    background-image: url("..\\img\\svg\\sheme_shower-icon.svg");
}

.icon-4::before {
    background-image: url("..\\img\\svg\\sheme_stairs-icon.svg");
}

.scroll_list_icon_item_info::before{
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}

.scroll_fig2{
    position: absolute;
    top: 0;
    right: 0;
    height: 289px;
    width: 100%;
    position: relative;
}
.intro_pic4{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.scroll_fig_subtitle_link{
    font-size: 13px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.1em;
    text-align: left;
    position: absolute;
    top: 26px;
    left: 26px;
    background: linear-gradient(94.71deg, rgba(169, 111, 68, 0.65) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
    width: 77px;
    height:  34px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 10px 16px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    z-index: 4;
}

.scroll_fig_subtitle_link:hover,
.scroll_fig_subtitle_link:active,
.scroll_fig_subtitle_link:focus{
    background: linear-gradient(94.71deg, rgb(130 60 9 / 65%) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
}

/* icon styles start */
.scroll-icon.right{
    position: absolute;
    top: 117px;
    right: 16px;
    width: 40px;
    height: 40px;
}

.scroll-icon.left{
    position: absolute;
    top: 117px;
    left: 16px;
    width: 40px;
    height: 40px;
}

.scroll_fig2 .scroll-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.scroll_fig2 .scroll-icon:hover,
.scroll_fig2 .scroll-icon:active,
.scroll_fig2 .scroll-icon:focus {
    transform: scale(1.25);
}

.scroll_fig2 .scroll-icon.left {
    left: 16px;
    background-image: url('..\\img\\svg\\scroll-left-icon2.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 4;
}

.scroll_fig2 .scroll-icon.right {
    right: 16px;
    background-image: url('..\\img\\svg\\scroll-right-icon2.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 4;
}
/* icon styles end*/

.scroll_fig_title2{
    z-index: 10;
    color: rgba(40, 40, 40, 1);
    position: absolute;
    left: 38px;
    bottom: 28px;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    width: 100px;

}
/* Scroll figures styles end */

/* Intro styles end */



/* Best Offers styles start */

.offers_container{
    position: relative;
    width: 100%;
    height: 1365px;
    margin-bottom: 162px;
}

.offers_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}

/* Best Offers navigation start */

.offers_navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.offers-view_all{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration: none;
    background: linear-gradient(135deg, #353A5F 0%, #6a88c5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offers-view_all::after{
    content: "";
    padding-right: 18px;
    background: url("..\\img\\svg\\arrow-right-icon.svg") no-repeat right center;
    transition: 0.2s all;
}

.offers-view_all:hover,
.offers-view_all:active,
.offers-view_all:focus {
    transform: scale(1.05);

}

.offers-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    text-transform: uppercase;
}

.offers-list-item{
    transition: .2s ease-in-out;
}

.offers-list-item:not(:last-child){
    margin-right: 8px;
}

.offers-list-link{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 8px 10px;
}

.offers-list-item:not(:first-child) .offers-list-link{
    border: 1px solid;
    border-image: rgba(169, 111, 68, 0.6);
    border-radius: 6px;
    color:rgba(180, 142, 105, 1);
}

.offers-list-item:first-child .offers-list-link{
    border: 1px solid;
    border-image: rgba(169, 111, 68, 0.6);
    border-radius: 6px;
    background: linear-gradient(93.12deg, rgba(169, 111, 68, 0.7) -8.85%, rgba(242, 236, 182, 0.7) 229.03%);
    color: rgba(255, 255, 255, 1);
}

.offers-list-item:hover,
.offers-list-item:active,
.offers-list-item:focus {
    transform: scale(1.05);
}
/* Best Offers navigation end */

.offers-cards{
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 391px);
    grid-column-gap: 21px;
    grid-row-gap: 27px;
}

.offers-card-frame{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 24px;
    border-color: rgba(180, 142, 105, 0.2);
}

.offers-card-pic{
    position: relative;
    margin-bottom: 18px;
}

.offers-card-pic-list{
    position: absolute;
    top: 18px;
    left: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.offers-card-pic-list_info{
    font-family: 'Manrope', sans-serif;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
    font-size: 10px;
    text-transform: uppercase;
    padding: 7px 5px 5px 5px;

}
.offers-card-pic-list_info:first-child{
    margin-right: 8px;
    background: rgba(40, 40, 40, 0.6);
    border-radius: 4px;
}

.offers-card-pic-list_info:last-child{
    background: rgba(62, 127, 136, 0.6);
    border-radius: 4px;
}

.offers-card-subtitle{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: rgba(159, 159, 159, 1);
    margin-left: 24px;
    margin-bottom: 6px;
}

.offers-card-title{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    width: 218px;
    margin-left: 24px;
    margin-bottom: 14px;
}

.offers-card-loc{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    margin-left: 24px;
    margin-bottom: 16px;
}

.offers-card-loc-item_link{
    margin-right: 6px;
    text-decoration: none;
    color: rgba(111, 128, 177, 1);
}

.offers-card-loc-item_loc::before{
    content: "";
    background: url("..\\img\\svg\\loc-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80% 80%;
    padding-right: 15px;
}
.offers-card-icon{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    margin-left: 22px;
    margin-bottom: 20px;

}

.offers-card-icon-item4{
    margin-right: 22px;
}

.offers-card-icon-item1::before{
    content: "";
    background: url("..\\img\\svg\\sheme_flat-icon.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120% 120%;
    padding-right: 32px;
}

.offers-card-icon-item2::before{
    content: "";
    background-image: url("..\\img\\svg\\sheme_bad-icon.svg"); 
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120% 120%;
    padding-right: 36px;
}

.offers-card-icon-item3::before{
    content: "";
    background-image: url("..\\img\\svg\\sheme_shower-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120% 120%;
    padding-right: 36px;
}

.offers-card-icon-item4::before{
    content: "";
    background-image: url("..\\img\\svg\\sheme_stairs-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 120% 120%;
    padding-right: 36px;
}

.offers-card-price{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    margin-left: 24px;
}

.offers-card-price-item:last-child{
    margin-right: 22px;
}
.offers-card-price-item1{
    font-size: 18px;
    font-weight: 700;
}

.offers-card-price-item2{
    font-size: 14px;
    font-weight: 500;
}

.offers-button{
    appearance: none;
    background: transparent;
    border: 1px solid rgba(111, 128, 177, 1);
    padding: 18px 32px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 32px;
    left: 43.5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color:rgba(111, 128, 177, 1);
    transition: all 0.12s ease-in-out;
}

.offers-button:hover,
.offers-button:active,
.offers-button:focus{
    font-weight: 700;
    transform: scale(1.05);
    color:rgb(251, 252, 255);
    background: rgb(102, 122, 184);
}

/* Best Offers Styles end */



/* Residential complexes start */

.resid_container{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 162px;
}

.resid_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}

/* Residential complexes navigation start */

.resid_navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.resid-view_all{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration: none;
    background: linear-gradient(135deg, #353A5F 0%, #6a88c5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resid-view_all::after{
    content: "";
    padding-right: 18px;
    background: url("..\\img\\svg\\arrow-right-icon.svg") no-repeat right center;
    transition: 0.2s all;
}

.resid-view_all:hover,
.resid-view_all:active,
.resid-view_all:focus {
    transform: scale(1.05);

}

.resid-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    text-transform: uppercase;
}

.resid-list-item{
    transition: .2s ease-in-out;
}

.resid-list-item:not(:last-child){
    margin-right: 8px;
}

.resid-list-link{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.4px;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 8px 10px;
}

.resid-list-item:not(:first-child) .resid-list-link{
    border: 1px solid;
    border-image: rgba(169, 111, 68, 0.6);
    border-radius: 6px;
    color:rgba(180, 142, 105, 1);
}

.resid-list-item:first-child .resid-list-link{
    border: 1px solid;
    border-image: rgba(169, 111, 68, 0.6);
    border-radius: 6px;
    background: linear-gradient(93.12deg, rgba(169, 111, 68, 0.7) -8.85%, rgba(242, 236, 182, 0.7) 229.03%);
    color: rgba(255, 255, 255, 1);
}

.resid-list-item:hover,
.resid-list-item:active,
.resid-list-item:focus {
    transform: scale(1.05);
}
/* Residential complexes navigation end */

.resid-cards{
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 37px;
}

.resid-card-frame{
    width: 100%;
    height: auto;
}

.resid-card-pic{
    position: relative;
    margin-bottom: 11px;
}

.resid-card-pic_desc{
    position: absolute;
    top: 18px;
    left: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;    
}

.resid-card-pic_desc_item{
    font-family: 'Manrope', sans-serif;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
    font-size: 10px;
    text-transform: uppercase;
    padding: 7px 5px 5px 5px;
}

.resid-card-pic_desc_item:first-child{
    margin-right: 8px;
    background: rgba(40, 40, 40, 0.6);
    border-radius: 4px;
}

.resid-card-pic_desc_item:last-child{
    background: rgba(62, 127, 136, 0.6);
    border-radius: 4px;
}


.resid-card-title{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 6px;
}

.resid-card-loc{
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 11px;
}

.resid-card-loc-item_link{
    margin-right: 6px;
    text-decoration: none;
    color: rgba(111, 128, 177, 1);
}

.resid-card-loc-item_loc::before{
    content: "";
    background: url("..\\img\\svg\\loc-icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80% 80%;
    padding-right: 15px;
}

.resid-card-price{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.resid-button{
    appearance: none;
    background: transparent;
    border: 1px solid rgba(111, 128, 177, 1);
    padding: 18px 32px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 32px;
    left: 43.5%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color:rgba(111, 128, 177, 1);
    transition: all 0.12s ease-in-out;
}

.resid-button:hover,
.resid-button:active,
.resid-button:focus{
    font-weight: 700;
    transform: scale(1.05);
    color:rgb(251, 252, 255);
    background: rgb(102, 122, 184);
}

/* Residential complexes end */


/* Great opportunity styles start */
.great_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
    height: 192px;
    margin-bottom: 96px;
}

.great_info{
    height: 100%;
    width: auto;
    position: absolute;
    left: 0;
    top:0;
}

.great_title{
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 11px;
    width: 100px;  
}

.great_subtitle{
    font-size: 14px;
    font-weight: 400;
    width: 290px;
}

.great_grid{
    position: absolute;
    height: 100%;
    width: auto;
    right: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 21px;
    grid-row-gap: 21px;
}

.great_grid_frame{
    width: 100%;
    height: auto;
}

.great_grid_desc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgba(169, 111, 68, 0.2);
    border-radius: 10px;
    padding: 21px 16px;
}

.great_icon_wrap{
    background:linear-gradient(93.12deg, rgba(169, 111, 68, 0.65) -8.85%, rgba(242, 236, 182, 0.65) 229.03%);
    width: 42px;
    height: 42px;
    border-radius: 10px;
    margin-right: 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.great_icon{
    width: 62.5%;
    height: 62.5%;
}

.great_grid_desc_item1,
.great_grid_desc_item4,
.great_grid_desc_item5,
.great_grid_desc_item6{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 200px;
    padding-right: 20px;
}

.great_grid_desc_item2,
.great_grid_desc_item3{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    width: 200px;
    padding-right: 70px;
}
/* Great opportunity styles end */


/* Reviews Styles start */

.reviews_container{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 96px;
}

.reviews_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.reviews_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.reviews-view_all{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-decoration: none;
    background: linear-gradient(135deg, #353A5F 0%, #6a88c5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reviews-view_all::after{
    content: "";
    padding-right: 18px;
    background: url("..\\img\\svg\\arrow-right-icon.svg") no-repeat right center;
    transition: 0.2s all;
}

.reviews-view_all:hover,
.reviews-view_all:active,
.reviews-view_all:focus {
    transform: scale(1.05);
}

.reviews_grid{
    margin-top: 21px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 21px;
    width: 100%;
    height: auto;
}

.reviews_card-frame{
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 1);
    border-radius: 24px;
    padding: 24px;
}

.user_name{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.review_place{
    font-size: 12px;
    font-weight: 400;  
    color: rgba(159, 159, 159, 1);
    margin-bottom: 5px;
}

.review_mark{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-start;
}

.review_stars{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2px;
}

.review_stars_value{
    height: 16px;
    width: auto;
}

.review_mark_value{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(180, 142, 105, 1);
    margin-left: 6px;
    padding-top: 2px;

}

.review-text{
    margin-top: 10px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}

/* Reviews Styles end */


/* Useful links styles start */
.links_container{
    width: 100%;
    height: auto;
    margin-bottom: 96px;
}


.links_title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 21px;
}

.links_grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.links_card-frame,
.links_card_subgrid-frame{
    flex: 1;
    display: block;
    position: relative;
    border: 1px solid;
    border-radius: 24px;
    border-color: rgba(180, 142, 105, 0.2);
    width: 283.5px;
    height: 100%;
}

.links_card-title{
    position: absolute;
    top:16px;
    left: 21px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    line-height: 21px;
}

.links_card-pic{
    top:0;
    left: 0;
    margin-bottom: 21px;
}

.links_card-list,
.links_card_subgrid-list{
    margin-left: 21px;
    margin-bottom: 21px;
    margin-right: 21px;
}

.links_card-list_item,
.links_card_subgrid-list_item{
    display:flex;
    justify-content:space-between;
    padding: 4px 0;
    margin-bottom: 8px;
}

.links_card-list_item:last-child,
.links_card_subgrid-list_item:last-child{
    margin-bottom: 0;
}

.links_card-list_item:after,
.links_card_subgrid-list_item::after{
    color:#9f9f9f;
    content:"..........................................................................................................";
    display:flex;
    flex-grow:1;
    order:2;
    overflow:hidden;
    padding: 0 4px;
    text-overflow:ellipsis;
}

.links_card-list_item_link,
.links_card_subgrid-list_item_link{
    flex-shrink:0;
    order:1;
    font-size: 14px;
    font-weight: 500;
    color: rgba(111, 128, 177, 1);
    text-decoration: none;
    
}

.links_card-list_item span,
.links_card_subgrid-list_item span{
    color:#9f9f9f;
    flex-shrink:0;
    order:3;
    padding-left:4px
}

.links_card_subgrid{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 21px;
    margin: 0 21px 0 21px;
}

.links_card_subgrid-frame{
    position: relative;
    border: 1px solid;
    border-radius: 24px;
    border-color: rgba(180, 142, 105, 0.2);
}

.links_card_subgrid-title{
    position: absolute;
    top:16px;
    left: 21px;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 50px;
    line-height: 21px;

}

.links_card_subgrid-pic{
    top:0;
    left: 0;
    margin-bottom: 21px;
}
/* Useful links styles end */


/*  Final question styles start */
.question_pic_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 266.67px;
    margin-bottom: 100px;
}

.question_pic1{
    height: 100%;
    width: 100%;
}

.question_submit{
    position: absolute;
    top: 22px;
    left: 42px
}

.question_pic2{
    position: absolute;
    bottom: 0;
    width: 20%;
    height: auto;
}

.question_title{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    color: rgba(40, 40, 40, 1);
    margin-bottom: 10px;
}

.question_subtitle{
    font-family: 'Manrope', sans-serif;
    width: 270px;
    margin-bottom: 16px;
}

.question_quote_container{
    position: absolute;
    top: 74px;
    right: 96px;
    width: 313px;
}

.mark-wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

.quotation_mark{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: -1;
    top: -20px;
    left: -31px;
}

.question_quote{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 26.67px;
}

.question_sub{
    font-family: 'Manrope', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: rgba(159, 159, 159, 1);
    text-align: right;
    margin-right: 23.33px;

}

.question_sub::before{
    content: "";
    background: url("..\\img\\svg\\stick-icon.svg") no-repeat left center;
    padding-right: 53px;
    margin-right: 16px;
}

.question-form_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.question-form_field{
    width: 210px;
    border: 0;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color:rgba(180, 180, 180, 1);
    margin-bottom: 12px;

}

.question-form_field:first-child{
    margin-right: 12px;
}

.question-form_field::placeholder{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.2px;
    text-align: left;
    color: rgba(180, 180, 180, 1);
}

.question-form_button{
    font-family: 'Manrope', sans-serif;
    width: 120px;
    padding: 11px;
    background: linear-gradient(135deg, #353A5F 0%, #9EBAF3 100%);
    color:rgba(255, 255, 255, 1);
    font-size: 12px;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.question-form_button:hover,
.question-form_button:active,
.question-form_button:focus{
    background: linear-gradient(135deg, #1a2153 0%, #6488d0 100%);
}

.button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.privacy-text{
    font-family: 'Manrope', sans-serif;
    text-align: left;
    width: 260px;
    font-size: 12px;
    color:rgba(40, 40, 40, 0.5);
    margin-left: 26px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.privacy-link {
    color: rgba(111, 128, 177, 1);
}

.privacy_check-icon{
    position: absolute;
    top: 1px;
    left: 0px;
    width: 4%;
    height: auto;
}
/*  Final question styles end */


/* Footer styles start */
.footer_item{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 43px;
}

.footer_logo{
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: flex-start;
}

.footer_logo_pic{
    width: 161px;
    height: 40px;
    margin-bottom: 8px;
}

.footer_logo_info{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.3px;
    text-align: left;
    color: rgba(159, 159, 159, 1);
}

.footer_logo_info_desc1{
    width: 244px;
    margin-bottom: 40px;
}

.footer_logo_info_desc2{
    width: 290px;
}

.footer_nav{
    margin-left: 83px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.footer_menu-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
}

.footer_menu-link{
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.footer_menu-item:not(:last-child){
    margin-bottom: 14px;
}

.footer_menu_contacts {
    display: flex;
    flex-direction: column;
}

.footer_menu_contacts-tel,
.footer_menu_contacts-mail{
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 12px;
    text-decoration: none;
    color: black;
    transition: transform 0.1s;
}

.footer_menu_contacts-wt{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    margin-bottom: 24px;
}

.footer_menu_contacts-address{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    margin-bottom: 24px;
    margin-top: 12px;
}

.footer_menu_contacts-tel:hover,
.footer_menu_contacts-mail:hover,
.footer_menu_contacts-tel:active,
.footer_menu_contacts-mail:active,
.footer_menu_contacts-tel:focus,
.footer_menu_contacts-mail:focus{
    transform: scale(1.02);
}

.footer_menu_contacts-icon{
    display: flex;
    flex-wrap: wrap;
}

.footer_icon:not(:last-child){
    margin-right: 12px;
}

.footer_icon{
    transition: transform 0.1s ease-in-out;
}

.footer_icon:hover,
.footer_icon:active,
.footer_icon:focus{
    transform: scale(1.1);
}

/* Footer styles end */
