.similar__container{
    margin-bottom: 144px;
    width: 100%;

    &-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title{
            padding: 0;
            margin: 0;
            font-size: 25px;
            font-weight: 700;
        }
    
        &-viewAll{
            font-size: 16px;
            line-height: 19.2px;
            text-decoration: none;
            background: linear-gradient(135deg, #353A5F 0%, #6a88c5 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: 21px;
        }
        
        &-viewAll::after{
            content: "";
            padding-right: 18px;
            background: url("..\\img\\svg\\arrow-right-icon.svg") no-repeat right center;
            transition: 0.2s all;
        }
    
        &-viewAll:hover,
        &-viewAll:active,
        &-viewAll:focus {
            transform: scale(1.05);
    
        }
    }

    &-cards{
        margin-top: 22px;
        display: flex;
        flex-wrap: wrap;
        gap: 21px;

        &-card{
            width: 300px;
            &-frame{
                width: 100%;
                height: 100%;
                border: 1px solid;
                border-radius: 24px;
                border-color: rgba(180, 142, 105, 0.2);

                &-pic{
                    position: relative;
                    margin-bottom: 18px;

                    &-thumb{
                        width: 100%;
                        height: auto;
                    }

                    &-list{
                        list-style-type: none;
                        position: absolute;
                        top: 18px;
                        left: 18px;
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;

                        &-info{
                            font-family: 'Manrope', sans-serif;
                            color: rgba(255, 255, 255, 1);
                            letter-spacing: 0.1em;
                            font-size: 10px;
                            text-transform: uppercase;
                            padding: 7px 5px 5px 5px;
                        }

                        &-info:first-child{
                            margin-right: 8px;
                            background: rgba(40, 40, 40, 0.6);
                            border-radius: 4px;
                        }
                        &-info:last-child{
                            background: rgba(62, 127, 136, 0.6);
                            border-radius: 4px;
                        }
                    }
                }
                &-info{
                    &-subtitle{
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16.8px;
                        color: rgba(159, 159, 159, 1);
                        margin-left: 24px;
                        margin-bottom: 6px;
                    }
    
                    &-title{
                        font-weight: 700;
                        font-size: 16px;
                        width: 65%;
                        margin-left: 24px;
                        margin-bottom: 14px;
                    }

                    &-loc{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 8px;
                        margin-left: 22px;
                        font-size: 12px;
                        font-weight: 400;
                        

                        &-link{
                            margin-right: 6px;
                            text-decoration: none;
                            color: rgba(111, 128, 177, 1);
                        }

                        &-desc{
                            margin: 0;
                            padding: 0;
                            margin-right: 22px;

                        }
                        
                        &-link::before{
                            content: "";
                            background: url("..\\img\\svg\\loc-icon.svg");
                            background-repeat: no-repeat;
                            background-position: left;
                            background-size: 80% 80%;
                            padding-right: 15px;
                        }
                    }


                    &-icon{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 12px;
                        font-weight: 400;
                        margin: 16px 22px 20px 22px;
                        
                        
                        &-item1::before{
                            content: "";
                            background: url("..\\img\\svg\\sheme_flat-icon.svg");
                            background-repeat: no-repeat;
                            background-position: right;
                            background-size: 120% 120%;
                            padding-right: 32px;
                        }

                        &-item2::before{
                            content: "";
                            background-image: url("..\\img\\svg\\sheme_bad-icon.svg"); 
                            background-repeat: no-repeat;
                            background-position: left;
                            background-size: 120% 120%;
                            padding-right: 36px;
                        }

                        &-item3::before{
                            content: "";
                            background-image: url("..\\img\\svg\\sheme_shower-icon.svg");
                            background-repeat: no-repeat;
                            background-position: left;
                            background-size: 120% 120%;
                            padding-right: 36px;
                        }

                        &-item4::before{
                            content: "";
                            background-image: url("..\\img\\svg\\sheme_stairs-icon.svg");
                            background-repeat: no-repeat;
                            background-position: left;
                            background-size: 120% 120%;
                            padding-right: 36px;
                        }

                    }




                    &-price{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        margin-left: 22px;

                        &-item1{
                            font-size: 18px;
                            font-weight: 700;
                        }

                        
                        &-item2{
                            display: inline;
                            background: linear-gradient(94.71deg, rgba(169, 111, 68, 0.65) -0.45%, rgba(242, 236, 182, 0.65) 219.73%);
                            color: white;
                            padding: 4px 8px;
                            border-radius: 6px;
                            margin-right: 22px;
                        }
                    }

                }

            }
        }
    }
      
}
