
.useful_links{
    &__container{
        width: 100%;
        height: auto;
        margin-bottom: 96px;

        &-title{
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 21px;
        }

        &__grid{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            height: auto;
            gap: 20px;

            &-frame{
                flex: 1;
                position: relative;
                border: 1px solid;
                border-radius: 24px;
                border-color: rgba(180, 142, 105, 0.2);
                width: 283.5px;
                height: 100%;
                
                &-title{
                    position: absolute;
                    top:16px;
                    left: 21px;
                    font-size: 16px;
                    font-weight: 700;
                    width: 100px;
                    line-height: 21px;
                }

                &-pic{
                    width: 100%;
                    margin-bottom: 21px;
                }

                &__list{
                    margin: 0 21px 21px 21px;
                    padding: 0;

                    &-item{
                        display:flex;
                        justify-content:space-between;
                        padding: 4px 0;
                        margin-bottom: 8px;
                         
                        &-link{
                            flex-shrink:0;
                            order:1;
                            color: rgba(111, 128, 177, 1);
                            text-decoration: none;                        
                        }

                        span{
                            color:#9f9f9f;
                            flex-shrink:0;
                            order:3;
                            padding-left:4px
                        }
                    }

                    &-item:last-child{
                        margin-bottom: 0;
                    }

                    &-item:after{
                        color:#9f9f9f;
                        content:"..........................................................................................................";
                        display:flex;
                        flex-grow:1;
                        order:2;
                        overflow:hidden;
                        padding: 0 4px;
                        text-overflow:ellipsis; 
                    }
                }
            }

            &__subgrid{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                height: 100%;

                &-frame{
                    flex: 1;
                    position: relative;
                    border: 1px solid;
                    border-radius: 24px;
                    border-color: rgba(180, 142, 105, 0.2);
                    width: 220.5px;

                    &-pic{
                        object-fit: cover;
                        margin-bottom: 21px;
                    }
    
                    &-title{
                        position: absolute;
                        top:16px;
                        left: 21px;
                        font-size: 16px;
                        font-weight: 700;
                        width: 100px;
                        line-height: 21px;
                    }
    
                    &__list{
                        margin: 0 21px 21px 21px;
                        padding: 0;
    
                        &-item{
                            display:flex;
                            justify-content:space-between;
                            padding: 4px 0;
                            margin-bottom: 8px;
    
                            &-link{
                                flex-shrink:0;
                                order:1;
                                color: rgba(111, 128, 177, 1);
                                text-decoration: none;                        
                            }
    
                            span{
                                color:#9f9f9f;
                                flex-shrink:0;
                                order:3;
                                padding-left:4px
                            }
                        }
    
                        &-item:last-child{
                            margin-bottom: 0;
                        }
    
                        &-item:after{
                            color:#9f9f9f;
                            content:"...........................................................................";
                            display:flex;
                            flex-grow:1;
                            order:2;
                            overflow:hidden;
                            padding: 0 4px;
                            text-overflow:ellipsis; 
                        }
                    }
                }
    
    
            }
        }

        
    }

}